# Python
# ======

# setup.py egg-info
*.egg-info/

# compiled files
*.py[cod]

# virtual environment
venv

# distributions
dist


# SQLite DB File
# ==============

db.sqlite3


# OS Specific Files
# =================

.DS_Store
